
.cv_page {
    width: 100%;
    height: 100%;
    padding-top: 120px;
    margin: 0 auto;
    /*background: url("../images/about_bg.svg") 0 0 no-repeat;*/
    background-size: 110% auto;
  	overflow: hidden;
    /*background-attachment: fixed;*/
}


/* links */
.about_links { 
	width: 100%;
	margin: 0 auto;
}
.about_links:before {
	content: '';
	display: inline-block;
	vertical-align: middle ;
	height: 100%;
}
.about_links a { 
	border: 0; 
	margin-right: 12px; 
	display: inline-block; 
	width: 48px; 
	height: 48px; 
	line-height: 48px; 
	font-size: 20px; 
	text-align: center;
	color: #aaa;  
	transition: transform 200ms ease-in-out, color 200ms ease-in-out; 
	-webkit-transition: transform 200ms ease-in-out, color 200ms ease-in-out; 
	transform: scale(1); -ms-transform: scale(1); /* IE 9 */	
	-webkit-transform: scale(1); /* Safari */
}



.links a:hover { 
	color: #00D598; 
	transform: scale(1.1);
}



.cv_item {
  	margin: 0px auto;
    padding: 50px 0;
}

.cv_item_photo img {
	border-radius: 8px;
    transition: all 0.2s ease-out;
	padding: 50px 0;
	width: 400px;
	float: right;
	display: inline-block;
}
.cv_item_photo_hide {
	width: 100%;
    margin: 0 auto;
    padding: 0 0 30px 0;
    text-align: center;
    display: none;
}
.cv_item_photo_hide img {
	width: 150px;
}

.cv_title {
    /*display: block;
    float: left;
    vertical-align: top;
    width: 20%;*/
    width: 50%;
    color: #1C1C1C;
    text-transform: capitalize;
    font-family: "Proxima Nova", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  	font-weight: 700;
 	font-size: 36px;
    margin: 0;
    line-height: 43px;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

.cv_content {
    /*display: inline-block;
    vertical-align: top;
    width: 80%;*/
    width: 50%;
    color: #676767;
    margin-top: 20px;
    font-family: "Proxima Nova", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  	font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    -webkit-font-smoothing: antialiased;
}
.cv_content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.bullet li {
    list-style-position: outside;
    margin-left: 15px;
    list-style-type: disc;
}
.cv_content .bold {
    color: #444;
    font-family: "Proxima Nova", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  font-weight: 700;
}
.cv_content .light {
    color: #bbb;
    font-size: 14px;
    font-family: "Proxima Nova", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  	font-weight: 300;
    line-height: 24px;
}
.cv_big {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    color: #4E4E4E;
    font-size: 40px;
    line-height: 60px;
    font-family: "Proxima Nova", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 979px) {
    /* 如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS。 */ 
    .cv_item_photo img {
		display: none;
	}
	.cv_item_photo_hide {
		display: block;
	}
    .cv_big {
    	width: 100%;
    	text-align: center;
    }
	.cv_title {
	    width: 100%;
	    text-align: center;
	    font-size: 24px;
	    padding: 0 25px 0 25px;
	}
	
	.cv_item {
		padding: 20px 0;
	}

	.cv_content {
	    width: 100%;
	    margin-top: 40px;
	}
	.about_links { 
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
}

@media screen and (min-width: 415px) and (max-width: 767px) {
	.cv_item_photo img {
		display: none;
	}
	.cv_item_photo_hide {
		display: block;
	}
	.rice_avatar {
		width: 170px;
		/*margin-left: 10px;*/
	}
	.cv_item {
		width: 100%;
	  	margin: 0 auto;
	}
	.container_works {
		padding: 0 25px;
	}
	.cv_big {
    	width: 100%;
    	text-align: center;
    	font-size: 28px;
    	line-height: 42px;
    }
	.cv_page {
	    width: 100%;
	    padding: 0 10%;
	}
	.cv_title {
		font-size: 24px;
	    width: 100%;
	    text-align: center;
	    padding: 0 25px 0 25px;
	}
	.cv_content {
	    width: 100%;
	    margin-top: 40px;
	}
	.about_links { 
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.about_links a {
		font-size:18px;
	}
}



@media screen and (min-width: 321px) and (max-width: 414px) {
	.cv_item_photo img {
		display: none;
	}
	.cv_item_photo_hide {
		display: block;
	}

	.cv_page {
	    width: 100%;
	    padding: 0 10%;
	}
	.rice_avatar {
		width: 150px;
		/*margin-left: 22px;*/
	}
	.avatar_ic {
		width: 23px;
	    right: 142px;
	    top: 6px;
	}
	.cv_item {
		width: 100%;
	  	margin: 0 auto;
	}
	.cv_big {
    	display: none;
    }
    #cv_logo {
    	display: none;
    }
	.cv_title {
	    width: 100%;
	    text-align: left;
	    padding: 0 25px 0 0px;
	}
	.cv_content {
	    width: 100%;
	    margin-top: 30px;
	}
	.about_links { 
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.about_links a {
		font-size:18px;
	}
}
@media screen and (max-width: 320px) {
	.cv_item_photo img {
		display: none;
	}
	.cv_item_photo_hide {
		display: block;
	}
	.rice_avatar {
	    /*margin-left: 7px;*/
	}
	.avatar_ic {
	    right: -4px;
	    top: -12px;
	}
}


