


.cv_page {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
}


/* links */
.about_links { 
	width: 100%;
	margin: 0 auto;
}
.about_links:before {
	content: '';
	display: inline-block;
	vertical-align: middle ;
	height: 100%;
}
.about_links a { 
	border: 0; 
	margin-right: 12px; 
	display: inline-block; 
	width: 48px; 
	height: 48px; 
	line-height: 48px; 
	font-size: 20px; 
	text-align: center;
	color: #aaa;  
	transition: transform 200ms ease-in-out, color 200ms ease-in-out; 
	-webkit-transition: transform 200ms ease-in-out, color 200ms ease-in-out; 
	transform: scale(1); -ms-transform: scale(1); /* IE 9 */	
	-webkit-transform: scale(1); /* Safari */
}



.links a:hover { 
	color: #00D598; 
	transform: scale(1.1);
}



.cv_item {
	width: 100%;
  	margin: 100px auto;
}

.cv_title {
    display: block;
    float: left;
    vertical-align: top;
    width: 20%;
    color: #4E4E4E;
    text-transform: uppercase;
    font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0 50px 0 10px;
    line-height: 24px;
    text-align: right;
}

.cv_content {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    color: #888;
    margin-top: -10px;
    font-family: gothamlight, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
    font-size: 16px;
    line-height: 38px;
}
.cv_content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.bullet li {
    list-style-position: outside;
    margin-left: 15px;
    list-style-type: circle;
}
.cv_content .bold {
    color: #444;
    font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
}
.cv_content .light {
    color: #bbb;
    font-size: 14px;
    font-family: gothamlight, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
    line-height: 24px;
}
.cv_big {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    color: #4E4E4E;
    font-size: 40px;
    line-height: 60px;
    font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 979px) {
    /* 如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS。 */ 
    .cv_big {
    	width: 100%;
    	text-align: center;
    }
	.cv_page {
	    width: 90%;
	}
	.cv_title {
	    width: 100%;
	    text-align: center;
	    font-size: 24px;
	    padding: 0 25px 0 25px;
	}
	.cv_content {
	    width: 100%;
	    margin-top: 40px;
	}
	.about_links { 
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
}

@media screen and (max-width: 767px) {
	.container_works {
		padding: 0 25px;
	}
	.cv_big {
    	width: 100%;
    	text-align: center;
    }
	.cv_page {
	    width: 90%;
	}
	.cv_title {
		font-size: 24px;
	    width: 100%;
	    text-align: center;
	    padding: 0 25px 0 25px;
	}
	.cv_content {
	    width: 100%;
	    margin-top: 40px;
	}
	.about_links { 
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.about_links a {
		font-size:18px;
	}
}



@media screen and (max-width: 400px) {
	.cv_big {
    	width: 100%;
    	text-align: center;
    }
	.cv_page {
	    width: 90%;
	}
	.cv_title {
	    width: 100%;
	    text-align: center;
	}
	.cv_content {
	    width: 100%;
	    margin-top: 30px;
	}
	.about_links { 
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.about_links a {
		font-size:18px;
	}
}



