



/**************************Grid*/
#lab {
  width: 100%;
  padding: 100px 0;
}
.row_lab {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
  display: block;
}

.row_lab:before,
.row_lab:after {
  content:"";
  display: table;
  clear:both;
}
.row-max {
  max-width: 100%;
}

.grid-100, .grid-75, .grid-50, .grid-33, .grid-25, .grid-20 {
  float: left;
  padding: 0 2%;
  margin: 40px auto;
}

.grid-max {
  width: 100%;
  float: left;
  margin: 0 auto;
  padding: 0;
}

.grid-100 {
  width: 96%;
}
.grid-75 {
  width: 71%;
}
.grid-50 {
  width: 46%;
}
.grid-33 {
  width: 29%;
}
.grid-25 {
  width: 21%;
}
.grid-20 {
  width: 16%;
}

.grid-center {
  float: none;
}

/**************************Work*/
.work-img img {
  float: left;

}
.work-block {
  position: relative;
  margin: 40px 22px;
  transition: .35s ease-in-out;
}
.work-block img, .work-block h3 {
  transition: .35s ease-in-out;
  width: 100%;
}
.work-block h3 {
  font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  text-transform:uppercase;
  color:#00D598;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  width: 80%;
  margin: 0 10%;
}
.work-block:hover {
	transform:translateY(-15px);
}
.work-block a {
  width: 100%;
  float: left;
  overflow: hidden;
}

.work-block a:hover > img {
  opacity: .1;
}

.work-block a:hover > h3 {
  opacity: 1;
  top: 43%;
}


/**************************Home*/
#Home section {
  padding: 0;
}
/**************************Media Quieries*/
@media screen and (min-width: 1040px) and (max-width: 1300px) {
  .work-block {
	  margin: 35px 20px;
  }
}
@media (max-width: 1040px) {
  .work-block {
	  margin: 20px 20px;
  }
  .grid-75 {
    width: 96%;
  }
  .grid-50 {
    width: 46%;
  }
  .grid-33 {
    width: 46%;
  }
  .grid-25 {
    width: 29%;
  }
  .grid-20 {
    width: 21%;
  }
  .single {
    text-align: left;
  }
  .grid-100 > h6  {
    margin : 20px auto;
  }
}
@media screen and (min-width: 728px) and (max-width: 1040px) {
  .work-block {
	  margin: 35px 20px;
  }
  .grid-50 {
    width: 96%;
  }
}
@media (max-width: 728px) {
  .work-block {
	  margin: 20px 10px 20px 8px;
  }
  .work-block h3 {
    margin: 20px auto 20px;
    position: relative;
    opacity: 1;
  }
  
  .grid-100 {
    margin: 20px auto;
  }
  .grid-50 {
    width: 96%;
  }
  .grid-33 {
    width: 96%;
    margin: 20px auto;
  }
  .grid-25 {
    width: 46%;
    margin: 20px auto;
  }
  .grid-20 {
    width: 46%;
    margin: 20px auto;
  }
 
}