body {
  font-family: gothamlight, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.content_animation {
  position: relative;
  float: left;
  z-index: 12;
  width: 51.6666666666%;
  height: 557px;
  margin: -562px 0 0 44%;
  background: url('../images/pemory_animation.gif') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.content_description_left {
  position: relative;
  float: left;
  z-index: 12;
  width: 31.75%;
  height: 457px;
  margin: -510px 0 0 10%;
}

.content_description_left .works_content {
  width: 90.2887139107%;
  margin: 24px 0 0 5.82759%;
  text-align: justify;
}

.content_description_left .works_title {
  position: relative;
  z-index: 9;
  margin-left: 4.4742499999%;
}

.content_retangle {
  float: left;
  width: 6px;
  height: 20px;
  margin-top: 6px;
  background-color: rgb(41, 41, 41);
}

.content_work_background {
  background: url('') rgb(255, 221, 40);

  position: relative;
  float: left;
  clear: both;
  z-index: 7;
  width: 100%;
  height: 562px;
  margin-top: 413px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 126% 0%;
  overflow: hidden;
}

.pemory_logo {
  float: left;
  width: 7.1666666666%;
  height: 86px;
  margin: 80px 0 0 46.21224%;
  background: url('../images/icon.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.subtitle {
  position: absolute;
  top: 38px;
  left: 21px;
  z-index: 2;
  width: 94.540942928%;
  min-height: 98px;
  font-size: 1.5em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.title {
  position: absolute;
  top: 0;
  left: 21px;
  z-index: 1;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.top_retangle {
  float: left;
  width: 6px;
  height: 20px;
  margin-top: 1px;
  background-color: rgb(255, 255, 255);
}

.work_top_bg {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 524px;
  background: url('../images/pemory_2.png') rgb(0, 163, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  overflow: visible;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -moz-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -o-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -ms-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
}

.work_top_titles {
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 33.5677083333%;
  height: 137px;
  margin: -444px 0 0 10%;
  overflow: visible;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -moz-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -o-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -ms-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
}

.works_content {
  float: left;
  clear: both;
  min-height: 400px;
  font-size: 1em;
  color: rgb(0, 0, 0);
  overflow: visible;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.works_content-1 p {
  margin-bottom: 2.5em;
}

.works_title {
  float: left;
  font-size: 1.5em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.works_content-1 {
  position: relative;
  z-index: 6;
  width: 66.3333333333%;
  margin: -945px 0 0 16.63021%;
  text-align: center;
}
.works_content-1 p {
  line-height: 32px;
}
.works_title-1 {
  clear: both;
  margin: 24px 0 0 42.71615%;
}

.subtitle span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #ffffff;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 767px) {
  .content_animation {
    position: relative;
    z-index: 12;
    width: 56.0625814863%;
    height: 515px;
    margin-top: -525px;
    margin-left: 22.79987%;
  }

  .content_description_left {
    position: relative;
    z-index: 11;
    width: 79.9217731421%;
    margin-top: -653px;
    margin-left: 10.03911%;
  }

  .content_description_left .works_content {
    width: 94.0509915014%;
    margin-left: 5.94901%;
  }

  .content_description_left .works_title {
    position: relative;
    z-index: 8;
    margin-left: 4.47061%;
  }

  .content_work_background {
    position: relative;
    clear: none;
    z-index: 6;
    height: 704px;
    margin-top: 450px;
  }

  .pemory_logo {
    top: 564px;
    left: 46.4166395045%;
    right: auto;
    width: 55px;
  }

  .work_top_bg {
    position: relative;
    z-index: 0;
  }

  .work_top_titles {
    position: relative;
    z-index: 4;
    width: 50%;
    margin-left: 9.99837%;
  }

  .works_content {
    width: 79.9217731421%;
    margin-top: -1104px;
    margin-left: 10.03708%;
  }

  .works_title {
    position: absolute;
    margin-left: 0;
  }

  .works_content-1 {
    position: relative;
    z-index: 5;
  }

  .works_title-1 {
    float: left;
    top: 640px;
    width: 100%;
    margin-top: 30px;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 1em;
  }

  .content_animation {
    position: relative;
    z-index: 12;
    width: 66.5%;
    height: 304px;
    margin-top: -315px;
    margin-left: 16.75%;
  }

  .content_description_left {
    position: relative;
    z-index: 11;
    width: 80%;
    margin-left: 10%;
  }

  .content_description_left .works_content {
    width: 85.625%;
    margin-left: 5.9375%;
  }

  .content_description_left .works_title {
    position: relative;
    z-index: 8;
    margin-left: 4.45801%;
  }

  .content_work_background {
    position: relative;
    z-index: 6;
    margin-top: 696px;
  }

  .pemory_logo {
    top: 561px;
    left: 42.4%;
  }

  .work_top_bg {
    position: relative;
    z-index: 0;
  }

  .work_top_titles {
    position: relative;
    z-index: 4;
    width: 71.75%;
    margin-top: -424px;
    margin-left: 10%;
  }

  .works_content {
    width: 66.5%;
    margin-left: 16.75%;
  }

  .works_content-1 {
    position: relative;
    z-index: 5;
    margin-top: -1435px;
  }

  .works_title-1 {
    top: 632px;
    left: 28.7499999999%;
    width: 42.5%;
  }
}