html, body {
  background-color: #fff;
  font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
	line-height: 1;
}

h1,h2,h3,h4,h5,h6 {
  font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 {
	font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
	font-size: 36px;
	line-height: 1.3;
}
h2 {
	font-size: 32px;
	font-weight: 300;
}
h3 {
	font-size: 28px;
	line-height: 1.2;
}

p {
	font-family: gothamlight, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
	font-size: 24px;
}

::selection {
  background: #00D598;
  color: #fff;
}

a {
	-webkit-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

a, a:hover {
  text-decoration: none;
  color: #00D598;
}
a:focus {
	outline: none;
}

h1, h2, h3, h4, h5, h6, ol, dl, pre, table, address, fieldset, p, hr {
	margin-bottom: 20px;
}


/*loading---------------------------------------*/
.loader {
  height: 100%;
  width: 100%;
  background-color: #00D598;
  position: absolute;
}

.content {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #fff;
  display: none;
  margin-top: 50px;
}

.fade {
	transition: all 1s ease-in-out;
    -webkit-animation: fadein 1s ease-in-out;
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#icon {
  position: absolute; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height:100px;
  width: 120px;
  margin: auto;
  transform:rotate(90deg);
}

.circle {
  width:20px;
  height:20px;
  margin: 10px;
  background:white;
  border-radius:20px;
}

@-webkit-keyframes loading {
  0% {
  }
  
  25% {
    transform: translateX(-100%);
  }
  
  50% {
    transform:translateX(0);
  }
  
  75% {
    transform:translateX(100%);
  }
  
  100% {
    transform:translateX(0); 
  }
}

.circle:nth-child(1) {
  -webkit-animation: loading 1s infinite;
  -webkit-animation-delay: 0s;
}

.circle:nth-child(2) {
  -webkit-animation:  loading 1s infinite;
  -webkit-animation-delay: 0.5s;
}

.circle:nth-child(3) {
  -webkit-animation: loading 1s infinite;
}
/*------------------------nav--------------------------------*/
.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 13px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
  .open-nav {
	  height: 190px !important;
	}
}

.open-nav {
  max-height: 190px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  /*border-bottom: 1px solid gainsboro;*/
}

.logo {
  background: url(../images/logo_nav.svg) 0 0 no-repeat;
  width: 45px;
  height: 45px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

nav {
  float: right;
  width: 60%;
 
}
.row nav {
	margin-top: 10px;
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  font-size: 14px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.mobile-toggle span {
  width: 24px;
  height: 4px;
  margin-bottom: 7px;
  border-radius: 0px;
  background: #00D598;
  display: block;
}

.row {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}
* {
  box-sizing: border-box;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
    margin-top: -12px;
  }
  nav {
    width: 100%;
  }
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
  .mobile-toggle {
    display: block;
    top:14px;
  }
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
/*-----------------------content-----------------------------*/

.content .logo_content {
	width: 110px;
    height: 80px;
    text-indent: -9999px;
    margin:0 auto;
    background: url(../images/logo.svg) 0 0 no-repeat;
    position: relative;
    top:8%;
}
.content .logo_content a {
	width: 110px;
    height: 80px;
    display: block;
	
}

#logo_content {
	transition: all .2s ease-in-out;
}
#logo_content:hover {
	transform: scale(1.1);
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1280px;
}

.introduction {
	width: 100%;
	height: 100%;
	text-align: center;
	float: left;
}
.introduction h1 {
	font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
	font-size: 36px;
	line-height: 1.3;
	text-align: center;
	margin: 100px 0 20px 0;
	text-transform:uppercase;
	color:#4E4E4E;
}

.introduction p {
	font-family: gothamlight, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
	font-size: 24px;
	line-height: 2;
	text-align: center;
	color:#4E4E4E;
}



.bio {
	text-align: center;
	margin: 20px 30px 50px 30px;
}
/* links */
.links { 
	width: 100%;
	height: 100px;
	margin: 0 auto;
}
.links:before {
	content: '';
	display: inline-block;
	vertical-align: middle ;
	height: 100%;
}
.footer_wrapper {
	display: inline-block;
	vertical-align: middle;
}
.links a { 
	border: 0; 
	margin-right: 12px; 
	display: inline-block; 
	width: 48px; 
	height: 48px; 
	line-height: 48px; 
	font-size: 20px; 
	text-align: center;
	color: #aaa;  
	transition: transform 200ms ease-in-out, color 200ms ease-in-out; 
	-webkit-transition: transform 200ms ease-in-out, color 200ms ease-in-out; 
	transform: scale(1); -ms-transform: scale(1); /* IE 9 */	
	-webkit-transform: scale(1); /* Safari */
}



.links a:hover { 
	color: #00D598; 
	transform: scale(1.1);
}

/*------------------grid-----------------*/




/*---------------------button-------------------------------*/

.clear {
	clear: both;
}


#resume {
	display: block;
	margin: 40px 0 100px 0;
    text-decoration: none;
    border-radius: 0px;
    padding: 20px 0;
}

a.button {
	font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
	font-size: 24px;
	color: rgba(0, 213, 152, 1);
	box-shadow: rgba(0, 213, 152, 0) 0 0px 0px 2px inset;
	border:#00D598 5px solid; 
	padding: 15px 50px;
}

a.button:hover {
	color: rgba(255, 255, 255, 1);
	box-shadow: rgba(0, 213, 152, 1) 0 0px 0px 40px inset;
}


/*---------------------footer-------------------------------*/
#footer {
    background: #ECECEC;
    position: absolute;
    height: 60px; 
    bottom:0;
	left:0;
	width: 100%;
}
#footer p {
	font-family: gothamlight, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
	font-size: 12px;
	color:#818181;
	text-align: center;
	margin-top: 30px;
    
}

@media screen and (min-width: 768px) and (max-width: 979px) {
    /* 如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS。 */ 
	
}
@media screen and (max-width: 767px) {
	/* 如果使用者之視窗寬度 <= 768px，將會再載入這裡的 CSS。*/
    .introduction {
		min-height: 300px;
		margin: 20px 0 0px 0;
	}
	   
	.introduction h1 {
		font-size: 30px;
		line-height: 1;
		letter-spacing: -1px;
	}
	.introduction p {
		font-size: 20px;
	}

	.bio {
		margin: 33px 15px 50px 15px;
	}
	.links { 
		width: 100%;
		height: 0px;
		margin: 0 auto;
	}
	.links a {
		font-size:18px;
	}
	

}




