body {
  font-family: gothamlight, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


.content_animation {
  position: relative;
  float: left;
  z-index: 12;
  width: 51.6666666666%;
  height: 557px;
  margin: -562px 0 0 44%;
  background: url('../images/pemory_animation.gif') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}


.subtitle {
  font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  position: absolute;
  top: 38px;
  left: 21px;
  z-index: 2;
  width: 94.540942928%;
  min-height: 98px;
  font-size: 1.5em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.title {
  font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  position: absolute;
  top: 2;
  left: 21px;
  z-index: 1;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.top_retangle {
  float: left;
  width: 6px;
  height: 20px;
  margin-top: 1px;
  background-color: rgb(255, 255, 255);
}

.work_top_bg {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 524px;
  background: url('../images/pemory_2.png') rgb(0, 163, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  overflow: visible;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -moz-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -o-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -ms-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
}

.work_top_bg_dictionary {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 524px;
  background: url('../images/home_1.jpg') rgb(0, 163, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  overflow: visible;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -moz-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -o-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -ms-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
}

.work_top_titles {
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 33.5677083333%;
  height: 137px;
  margin: -444px 0 0 10%;
  overflow: visible;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -moz-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -o-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  -ms-transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
  transition: all 500ms cubic-bezier(0.12, 0.61, 0.66, 1.07);;
}
.work_content_wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  bottom: 0;

}
.work_content_wrapper_flow {
  width: 100%;
  margin: 0 auto;
  background: url(../images/pemory_flow.jpg) 0 0 no-repeat #fff;
  background-size: cover;
  overflow: visible;
  background-attachment: fixed;
  overflow: visible;
}
.work_content_wrapper_sketch {
  width: 100%;
  margin: 0 auto;
  background: url(../images/pemory_sketch.jpg) 0 0 no-repeat #F6F6F6;
  background-size: cover;
  overflow: visible;
  /*background-attachment: fixed;
  overflow: visible;*/
}

.work_content_wrapper_photo {
  width: 100%;
  margin: 0 auto;
  background: url(../images/pemory_earth.png) 0 0 no-repeat #F6F6F6;
  background-size: cover;
  /*background-attachment: fixed;
  overflow: visible;*/
}
.work_content_wrapper_photo_2 {
  width: 100%;
  margin: 0 auto;
  background: url(../images/dictionary_6.png) 0 0 no-repeat #FAFAFA;
  background-size: cover;
  /*background-attachment: fixed;
  overflow: visible;*/
}
.work_content_wrapper_color {
  width: 100%;
  margin: 0px auto;
  background-color: #F6F6F6;
}

.work_content_wrapper_color_pink {
  width: 100%;
  margin: 0px auto;
  background-color: #fff;
}
.container_works {
  width: 80%;
  margin: 0 auto;
  max-width: 980px;
}


.pemory_logo img {
  width: 86px;
  height: 86px;
  margin:0 auto;
  position: relative;
}
.work_introduction {
  width: 100%;
  height: 100%;
  float: left;
  margin: 100px 0px;
  text-align: center;
}

.work_introduction_just_photo {
  width: 100%;
  height: 100%;
  float: left;
  margin: 160px 0px;
  text-align: center;
}
.work_introduction_just_photo h3 {
  font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  margin: 40px 0 20px 0;
  text-transform:uppercase;
  color:#4E4E4E;
  text-align: center;
}
/*--------------------------type1----------------------------*/
.work_introduction_r_text {
  width: 40%;
  height: 100%;
  float: right;
  margin: 100px 0px;
}
.work_introduction_l_video {
  width: 40%;
  height: 100%;
  float: left;
  margin: 100px 0px;
}
.work_introduction_r_text h3 {
  font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  margin: 40px 0 30px 0;
  text-transform:uppercase;
  color:#4E4E4E;
  text-align: left;
}


.work_introduction_r_text p {
  font-family: gothamlight, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  line-height: 2;
  color: #949494;
  margin-bottom: 40px;
  text-align: left;
}
/*--------------------------type1 end----------------------------*/

/*--------------------------type2----------------------------*/

.work_introduction_l_text {
  width: 40%;
  height: 100%;
  float: left;
  margin: 100px 0px;
}
.work_introduction_r_video {
  width: 40%;
  height: 100%;
  float: right;
  margin: 100px 0px;
}
.work_introduction_l_text h3 {
  font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  margin: 40px 0 30px 0;
  text-transform:uppercase;
  color:#4E4E4E;
  text-align: left;
}


.work_introduction_l_text p {
  font-family: gothamlight, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  line-height: 2;
  color: #949494;
  margin-bottom: 40px;
  text-align: left;
}

/*--------------------------type1 end----------------------------*/
#works_center_img {
  width: 100%;
  margin: 40px 0px;
}
#works_center_ic {
  width: 35px;
  margin: 0px 0px;
}
.work_introduction h3 {
  font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  margin: 30px 0 30px 0;
  text-transform:uppercase;
  color:#4E4E4E;
}


.work_introduction p {
  font-family: gothamlight, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  color: #949494;
  margin-bottom: 30px;
}


/*----------------next project----------------------------------*/
#next-prev-all {
  width: 100%;
  margin: 0 auto;
    font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
    font-size: 24px;
    text-align: center;
    color: #333;
    padding: 120px 0;
    background: #F6F6F6;
    transition: .175s ease-in-out all;
    -o-transition: .175s ease-in-out all;
    -ms-transition: .175s ease-in-out all;
    -moz-transition: .175s ease-in-out all;
    -webkit-transition: .175s ease-in-out all;
}
.next_prev_container {
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}
#next-prev-all:hover {
    background: #00A1FF;
}

#next-prev-all:hover, #next-prev-all:hover .smaller-font {
    cursor: url(../images/hover-cursor.png),auto;
    color: #fff;
}
#next-project .smaller-font {
    font-family: gothammedium, "Arial", "STHeitiTC-Light", "Microsoft JhengHei", sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #999;
    transition: .175s ease-in-out all;
    -o-transition: .175s ease-in-out all;
    -ms-transition: .175s ease-in-out all;
    -moz-transition: .175s ease-in-out all;
    -webkit-transition: .175s ease-in-out all;
}












/*----------------video----------------------------------*/
.js-video {
  height: 0;
  padding-top: 1px;
  padding-bottom: 49.5%;
  margin: 0px 50px;
  position: relative;
  overflow: hidden;
}
 
.js-video.widescreen {
  padding-bottom: 56.34%;
}
 
.js-video.vimeo {
  padding-top: 0;
}
.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}











/*-------------------------------------------------------*/


@media screen and (min-width: 768px) and (max-width: 979px) {
    /* 如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS。 */ 

  .work_introduction_l_video, .work_introduction_r_video {
    width:100%;
    text-align: center;
    
  }
  .work_introduction_r_text {
    margin: 0px;
  }
  .work_introduction_l_text {
    margin: 0px;
  }
  .work_content_wrapper_photo,.work_content_wrapper_photo_2  {
    background: url() 0 0 no-repeat #F6F6F6;
  }
  .work_introduction_r_text h3, .work_introduction_l_text h3 {
    text-align: center;
  }
  .work_introduction_r_text, .work_introduction_l_text {
    width: 100%;
    height: 100%;
    float: left;
    padding: 0 10%;
  }
  .js-video {
    height: 0;
    padding-top: 1px;
    padding-bottom: 50.5%;
    margin: 0px 50px;
    position: relative;
    overflow: hidden;
  }
  .work_top_titles {
    width: 35%;
  }
  .work_introduction, .work_introduction_just_photo {
    padding: 0 10%;
  }

}
@media screen and (max-width: 767px) {
  .work_introduction #framer {
    display: none;
  }
  .work_introduction_l_video, .work_introduction_r_video {
    width: 100%;
    text-align: center;
    display: none;
  }
  .work_introduction_r_text h3, .work_introduction_l_text h3 {
    text-align: center;
  }
  .work_introduction_r_text {
    margin: 0px;
  }
  .work_introduction_l_text {
    margin: 0px;
  }
  .work_content_wrapper_photo, .work_content_wrapper_photo_2 {
    background: url() 0 0 no-repeat #F6F6F6;
  }
  .container_works {
    width:100%;
  }
  .work_introduction_r_text, .work_introduction_l_text {
    width: 100%;
    height: 100%;
    float: left;
    padding: 0 10%;
  }
  .js-video {
    height: 0;
    padding-top: 1px;
    padding-bottom: 50.5%;
    margin: 0px;
    position: relative;
    overflow: hidden;
  }
  .work_top_titles {
    width: 70%;
  }
  .work_introduction, .work_introduction_just_photo {
    padding: 0 10%;
  }
}

@media screen and (max-width: 400px) {
  .work_introduction #framer {
    display: none;
  }
  .work_introduction_r_text h3, .work_introduction_l_text h3 {
    text-align: center;
  }
  .work_top_titles {
    width: 70%;
  }
  .work_introduction, .work_introduction_just_photo {
    padding: 0 5%;
  }
}